</div><!-- /.container -->

<div id="secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h2>Testimonials</h2>
          <a class="arrow" href="{{ site.baseurl }}/testimonials/">Read More Testimonials</a>
        </div>
      </div>
      <div class="col-md-6 testimonial">
        <div class="quote">
          “Corporate Chaplaincy Consulting under the leadership of Steve Cook fills an important need in assisting those who serve employees and build healthy organizational cultures. Over the years I’ve watched corporate chaplaincy grow in breadth and depth.  As the field has matured, market leaders have emerged.  I count Corporate Chaplaincy Consulting as one of the vanguards.”
        </div>
        <div class="source">
          <strong>John R. Terrill</strong>
          Director, Center for Integrity in Business,
          School of Business & Economics, Seattle Pacific University
        </div>
      </div>
      <div class="col-md-6 testimonial">
        <div class="quote">
          “Steve Cook, of Corporate Chaplaincy Consulting, was extremely beneficial in the development stages of creating my own chaplaincy program for the Houston area. During my initial research of chaplaincy programs, my conversations with Steve confirmed the possibility of creating a uniquely personal service program that God had laid on my heart. His knowledge, experience, and detailed day-to-day operating wisdom gave me the context necessary in which to pursue my calling. Thank you, Steve, for the assistance you have been in my journey of chaplaincy work.”
        </div>
        <div class="source">
          <strong>Dave E. Anderson</strong>
          Founder, MyCorporateChaplain.com
        </div>
      </div>
    </div>
  </div>
</div>

{% include footer-shared.html %}
