<div id="secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h2>Testimonials</h2>
          <a class="arrow" href="{{ site.baseurl }}/testimonials/">Read More Testimonials</a>
        </div>
      </div>
      <div class="col-md-6 testimonial">
        <div class="quote">
          Corporate Chaplaincy Consulting under the leadership of Steve Cook fills an important need in assisting those who serve employees and build healthy organizational cultures.  Over the years I've watched corporate chaplaincy grow in breadth and depth.  As the field has matured, market leaders have emerged.  I count Corporate Chaplaincy Consulting as one of the vanguards.
        </div>
        <div class="source">
          <strong>John R. Terrill</strong>
          Director, Center for Integrity in Business,
          School of Business & Economics, Seattle Pacific University
        </div>
      </div>
      <div class="col-md-6 testimonial">
        <div class="quote">
          Steve Cook, of Corporate Chaplaincy Consulting, was extremely beneficial in the development stages of creating my own chaplaincy program for the Houston area. During my initial research of chaplaincy programs, my conversations with Steve confirmed the possibility of creating a uniquely personal service program that God had laid on my heart. His knowledge, experience and detailed day-to-day operating wisdom gave me the context necessary in which to pursue my calling. Thank you Steve for the assistance you have been in my journey of chaplaincy work.
        </div>
        <div class="source">
          <strong>Dave E. Anderson</strong>
          Founder, MyCorporateChaplain.com
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footertop">
  <div class="container">
    <div class="row">
      <div id="about" class="col-md-3 col-xs-6">
        <img class="title" src="{{ site.baseurl }}/_img/interface/title_about.png" alt="Why We Exist">
        <br/>
        <a class="arrow" href="{{ site.baseurl }}/about/">Read more</a>
      </div>
      <div id="photo" class="col-md-3 col-xs-6">
        <img src="{{ site.baseurl }}/_img/interface/about_photo.jpg" alt="Why We Exist">
      </div>
      <div id="mission" class="col-md-6">
        <p>Our mission as a consulting team is to mentor and equip emerging workplace chaplains. Our vision as chaplains is to reach out and bring care where it is needed most and where it can make a meaningful difference.</p>

      </div>
    </div>
  </div>
</div>

<div id="footermiddle">
  <div class="container">
    <div class="row">
      <div id="partnership" class="col-md-2">
        in partnership with<br>
        <a href="http://www.capchaps.org"><img src="{{ site.baseurl }}/_img/interface/logo_footer.png" alt="Corporate Chaplaincy Consulting"></a>
      </div>
      <div class="col-md-10 link">
        <a href="{{ site.baseurl }}/privacy-policy/" class="dark box">Privacy Policy</a>
        <a id="siteuse" href="{{ site.baseurl }}/site-use-agreement/" class="dark box">Site Use Agreement</a>
        <a href="http://www.vimeo.com/corpchaps/videos" id="vimeo" target="_blank"class="social icon"><img src="{{ site.baseurl }}/_img/interface/transparent.png" alt="vimeo"></a>
        <a href="http://www.facebook.com/pages/Corporate-Chaplaincy-Consulting/240905042597630?v=info" id="facebook" target="_blank" class="social icon"><img src="{{ site.baseurl }}/_img/interface/transparent.png" alt="facebook"></a>
        <a href="http://twitter.com/stevewcook" id="twitter" target="_blank" class="social icon"><img src="{{ site.baseurl }}/_img/interface/transparent.png" alt="twitter"></a>
      </div>
    </div>
  </div>
</div>

<div id="footerbottom">
  <div class="container">
    <strong>608-217-7261</strong><br>
    &copy; 2005-{{ site.time | date: '%Y' }} Corporate Chaplaincy Consulting<br>
  </div>
</div>

<!--
<div id="footertop" class="outer">
<div class="container">
<div id="learn">
  <h2><em>Do you want to </em><br/>Learn More?</h2>
  <p>
    To get all the information you need and check out all the resources on this site, simply check out our services page. You'll get trainng, documents and business plans that have been perfected through years of in-field experience.</p>
<p><a class="arrow" href="{{ site.baseurl }}/info/services/">Services</a></p>
</div>
<div id="more">
<h2><strong>More</strong> Articles</h2>
<ul>
<li class="first"><a href="{{ site.baseurl }}/a-business-model-made-in-heaven/">A Business Model Made in Heaven</a></li>
<li><a href="{{ site.baseurl }}/info/what-is-cc-why-should-i-care/">What is Corporate Chaplaincy?</a></li>
<li class="last"><a href="{{ site.baseurl }}/info/faq/">Frequently Asked Questions</a></li>
</ul>
</div>
<br class="clear">
</div>
</div> -->
