<br class="clear">
</div>

</div>
<div id="footertop" class="outer">
<div class="container">
<div id="learn">
  <h2><em>Do you want to </em><br/>Learn More?</h2>
  <p>
    To get all the information you need and check out all the resources on this site, simply check out our services page. You'll get trainng, documents and business plans that have been perfected through years of in-field experience.</p>
<p><a class="arrow" href="../info/services/index.html">Services</a></p>
</div>
<div id="more">
<h2><strong>More</strong> Articles</h2>
<ul>
<li class="first"><a href="index.html">A Business Model Made in Heaven</a></li>
<li><a href="../info/what-is-cc-why-should-i-care/index.html">What is Corporate Chaplaincy?</a></li>
<li class="last"><a href="../info/faq/index.html">Frequently Asked Questions</a></li>
</ul>
</div>
<br class="clear">
</div>
</div>
<div id="footermiddle" class="outer">
<div class="container">
<div id="partnership" class="col">
  in partnership with<br>
  <a href="http://www.capchaps.org"><img src="../_img/interface/logo_footer.png" alt="Corporate Chaplaincy Consulting"></a>
</div>
<div id="copyright" class="col link">
  <a href="../copyright-information/index.html" class="dark box">Privacy Policy</a>
</div>
<div id="siteuse" class="col link">
  <a href="../statement-of-agreement-for-use-of-site/index.html" class="dark box">Site Use Agreement</a>
</div>
<div id="backhome" class="col link">
  <a href="../index.html" class="dark box">Home Page</a>
</div>
<div id="social-links" class="col link">
<a href="http://www.vimeo.com/corpchaps/videos" id="vimeo" target="_blank"class="icon"><img src="../_img/interface/transparent.png" alt="vimeo"></a>
<a href="http://www.facebook.com/pages/Corporate-Chaplaincy-Consulting/240905042597630?v=info" id="facebook" target="_blank" class="icon"><img src="../_img/interface/transparent.png" alt="facebook"></a>
      <a href="http://twitter.com/stevewcook" id="twitter" target="_blank" class="icon"><img src="../_img/interface/transparent.png" alt="twitter"></a>
</div>
</div>
</div>
<div id="footerbottom" class="outer">
<div class="container">
<strong>608-217-7261</strong> - 7228 Elmwood Ave. - Middleton. WI 53562, USA<br>
&copy; 2005-2014 Corporate Chaplaincy Consulting<br>
</div>
</div>
