<!DOCTYPE html>
<html dir="ltr" lang="en-US" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
<link rel="Shortcut Icon" href="{{ site.baseurl }}/_img/favicon.ico">
<link rel="stylesheet" href="{{ site.baseurl }}/_css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ site.baseurl }}/_css/print.css" type="text/css" media="print" />

<script type="text/javascript" src="{{ site.baseurl }}/_js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/_js/fancybox/jquery.mousewheel-3.0.2.pack.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/_js/fancybox/jquery.fancybox-1.3.1.js"></script>
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/_js/fancybox/jquery.fancybox-1.3.1.css" media="screen" />

<meta name="description" content="For-profit Corporate Chaplaincy is an effective chaplaincy business model that allows you to focus on the clients of your chaplaincy organization." />
<meta name="keywords" content="For-profit corporate chaplaincy,chaplaincy business model,chaplaincy organization" />
<meta property="og:type" content="article" />
<meta property="og:title" content="A Business Model Made in Heaven" />
<meta property="og:description" content="For-profit Corporate Chaplaincy is an effective chaplaincy business model that allows you to focus on the clients of your chaplaincy organization." />
<meta property="og:url" content="http://www.corpchaps.com/info/what-is-cc-why-should-i-care/a-business-model-made-in-heaven/" />
<meta property="article:published_time" content="2010-02-27" />
<meta property="article:modified_time" content="2011-09-22" />
<meta property="article:author" content="http://www.corpchaps.com/author/admin/" />
<meta property="article:section" content="Blog" />
<meta property="og:site_name" content="Corporate Chaplaincy Consulting" />
<meta name="twitter:card" content="summary" />

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23679465-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
