<nav id="topbar" class="navbar navbar-inverse">
  <div class="container">
    <div id="contactbar" class="">
      <ul class="nav">
        <li><a href="http://www.facebook.com/pages/Corporate-Chaplaincy-Consulting/240905042597630?v=info">Facebook</a></li>
        <li><a href="http://twitter.com/stevewcook">Twitter</a></li>
        <li><a href="{{ site.baseurl }}/contact-us">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="main" class="container">

  <div id="banner" class="row">
    <div class="col-xs-12">
      <a id="logo" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/_img/interface/logo.png" alt="Corporate Chaplaincy Consulting">
      </a>
      <div class="caption">
        <h2>Mentoring <em>&</em> Equipping</h2>
        <h3>Emerging Workplace Chaplains</h3>
      </div>
    </div>
  </div>

  <nav id="subnav" class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{ site.baseurl }}/info/services/">Services</a></li>
          <li class="dropdown">
            <a href="{{ site.baseurl }}/info/what-is-cc-why-should-i-care/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              Corporate Chaplaincy? <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              {% for link in site.data.menu.about %}
                <li><a href="{{ site.baseurl }}/{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li><a href="{{ site.baseurl }}/info/faq/">FAQ</a></li>
          <li><a href="{{ site.baseurl }}/info/testimonials/">Press &#038; Testimonials</a></li>
          <li><a href="{{ site.baseurl }}/category/blog/">Blog</a></li>
          <li><a href="{{ site.baseurl }}/contact-us/">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
