  <div id="topbar" class="outer">
      <a target="_blank" href="http://www.facebook.com/pages/Corporate-Chaplaincy-Consulting/240905042597630?v=info">facebook</a> | <a target="_blank" href="http://twitter.com/stevewcook">twitter</a> | <a href="../contact-us/">contact us</a>
  </div>

<div id="main" class="outer">
   <div class="container">

          <div id="header">
        <a class="top" id="logo" href="../">
            <img src="{{ site.baseurl }}/_img/interface/logo.png" alt="Corporate Chaplaincy Consulting">
          </a>
          <div id="banner">
            <img src="{{ site.baseurl }}/_img/interface/banner.jpg" alt="Mentoring & Equipping">
            <div class="caption">
            <h2>Mentoring <em>&</em> Equipping</h2>
            <h3>Emerging Workplace Chaplains</h3>
            </div>
          </div>
          <br class="clear">


<ul id="subnav">
<li><a href="{{ site.baseurl }}/info/services/">Services</a></li>
<li><a href="{{ site.baseurl }}/info/what-is-cc-why-should-i-care/">Corporate Chaplaincy?</a></li>
<li><a href="{{ site.baseurl }}/info/faq/">FAQ</a></li>
<li><a href="{{ site.baseurl }}/info/testimonials/">Press &#038; Testimonials</a></li>
<li><a href="{{ site.baseurl }}/category/blog/">Blog</a></li>
<li><a href="{{ site.baseurl }}/contact-us/">Contact</a></li>
</ul>



        </div>


<div id="sidebar" role="complementary">
<div id="excerpt">
  Ministry is one thing. Starting a business is another. When starting a business, there are many questions to consider. When starting a chaplaincy business, there is one more: Would a for-profit or not-for-profit business model be best?
</div>
<ul id="sub-pages">
  <li><a href="{{ site.baseurl }}/info/what-is-cc-why-should-i-care/about/">About</a></li>
  <li><a href="{{ site.baseurl }}/about-us/consider-a-career-in-corporate-chaplaincy/">Careers</a></li>
  <li><a href="{{ site.baseurl }}/a-business-model-made-in-heaven/">A Business Model Made in Heaven</a></li>
  <li><a href="{{ site.baseurl }}/info/what-is-cc-why-should-i-care/missing-link/">The Missing Link</a></li>
  <li><a href="{{ site.baseurl }}/info/what-is-cc-why-should-i-care/chaplain-confidentiality-in-the-workplace-precedent-and-principle/">Chaplain Confidentiality in the Workplace: Precedent and Principle</a></li>
  <li><a href="{{ site.baseurl }}/info/what-is-cc-why-should-i-care/the-appearance-of-corporate-chaplains-in-the-workplace/">The Appearance of Corporate Chaplains in the Workplace</a></li>
  <li><a href="{{ site.baseurl }}/info/what-is-cc-why-should-i-care/the-coaching-and-training-of-corporate-chaplains/">The Coaching and Training of Corporate Chaplains</a></li>
  </ul>

</div>
