<div id="sidebar" role="complementary" class="col-md-3">
  <div id="excerpt">
    Ministry is one thing. Starting a business is another. When starting a business, there are many questions to consider. When starting a chaplaincy business, there is one more: Would a for-profit or not-for-profit business model be best?
  </div>
  <ul id="sub-pages">
    <li><a href="{{ site.baseurl }}/info/what-is-cc-why-should-i-care/about/">About</a></li>
    <li><a href="{{ site.baseurl }}/about-us/consider-a-career-in-corporate-chaplaincy/">Careers</a></li>
    <li><a href="{{ site.baseurl }}/a-business-model-made-in-heaven/">A Business Model Made in Heaven</a></li>
    <li><a href="{{ site.baseurl }}/info/what-is-cc-why-should-i-care/missing-link/">The Missing Link</a></li>
    <li><a href="{{ site.baseurl }}/info/what-is-cc-why-should-i-care/chaplain-confidentiality-in-the-workplace-precedent-and-principle/">Chaplain Confidentiality in the Workplace: Precedent and Principle</a></li>
    <li><a href="{{ site.baseurl }}/info/what-is-cc-why-should-i-care/the-appearance-of-corporate-chaplains-in-the-workplace/">The Appearance of Corporate Chaplains in the Workplace</a></li>
    <li><a href="{{ site.baseurl }}/info/what-is-cc-why-should-i-care/the-coaching-and-training-of-corporate-chaplains/">The Coaching and Training of Corporate Chaplains</a></li>
  </ul>

</div>
