@font-face {
	font-family: 'ChunkFiveRegular';
	src: url('fonts/Chunkfive.eot');
	src: local('ChunkFive Regular'), local('ChunkFive'), url('fonts/Chunkfive.ttf') format('truetype');
}
body,html{
	margin:0;
	padding:0;
	font-family: "times new roman",times,serif;
	background:#fafaf3;
	font-size:17.5px;
}
p{
	margin: 0 0 20px;
}
.clear{
	clear:both;
}
a img{border:none}
a{
	text-decoration:none;
}
.hidden{
	display:none;
	visibility:hidden;
}
a:hover{
	text-decoration:underline;
}
textarea {
    resize: none;
}
#topbar{
	font-family:verdana,sans-serif;
	background:#3899bc;
	text-align:right;
	height:22px;
	border: none;
	border-radius: 0;
	min-height: 22px;
	color:white;
	line-height:20px;
	font-size:11px;
	text-transform:lowercase;
}
#topbar li{
	display:inline;
}
#topbar li a:before{
	content: '|';
	padding-right:1em;
}
#topbar li:first-child a:before{
	content: ''
}
#topbar a{
	color:#fff;
	padding:0 5px;
	display:inline;
}
#topbar li a:hover{
	background:none;
}

a.box, .arrow, a.button, #content a.button{
	font-family: "palatino linotype",palatino,serif;
	color:white;
	text-transform: uppercase;
	letter-spacing: 0.6pt;
	text-decoration:none;
	display:inline;
	border:none;
	font-size:12px;
}
a.button.learn{
	background-color:#27809F;
	margin-right:10px;
}
a.box{
	background:#4c4c4c;
	padding:6px;
}
#topbar input.input{
	height:17px;
	line-height:25px;
	border:none;
	background:#cee5ee;
	color:#4C4C4C;
	font-style:italic;
	margin:0;
	padding:4px 5px 5px 5px;
}
.arrow, a.button{
	background-color:#d6412d;
	background-repeat:no-repeat;
	background-position:top right;
	padding:6px 17px 6px 6px;
	background-size: auto 100%;
}
#topbar input.arrow{
	background-image:url(../_img/interface/arrow_top_bg.png);
	padding-bottom:5px;
}
#main{
	background:#fafaf3;
	text-align:left;
}
#header{
	padding:20px 0 0;
	display:block;
	height:120px;
}
#logo img{
	border:none;
	max-width:100%;
}
#subnav{
	min-height:26px;
	background:#e1f3f9;
	line-height:26px;
	font-family: "palatino linotype",palatino,serif;
	font-size:13px;
	letter-spacing: 0.8pt;
	border:none;
	border-radius:0;
	border-top:1px solid #BFBFBF;
	text-align:center;
}
#subnav .nav > li > a{
	color:#000;
	text-transform:uppercase;
	font-weight:bold;
	padding:0 20px;
	height:26px;
	line-height:26px;
}
#subnav .nav > li.active > a{
	background:none;
}
#content h1 {
	font: 34px 'ChunkFiveRegular', Arial, sans-serif;
	letter-spacing: 0;
	line-height:32px;
	margin:0.5em 0;
	padding:0 0 0.25em 0;
	border-bottom:1px dashed #31829F;
	color:#2F2F2F;
}
hr{
	border:none;
	border-bottom:1px dashed #31829F;
}
#content h2{
	color:#d6412d;
	font: 34px 'ChunkFiveRegular', Arial, sans-serif;
	font-size:1.75em;
}
#content h3{
	color:#2F2F2F;
}
#content a{
	color:#27809F;
}
#main #feat{
	margin-left:-25px;
}
#main #feat .feat{
	font-family: arial,sans-serif;
	font-size:11px;
	color:#5F5F5F;
	letter-spacing: 0pt;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:bottom center;
	min-height:300px;
	position:relative;
	width:100%;
	margin:25px 10px;
	padding:20px;
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.25);
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.25);
}

#main #feat h2{
	font: 30px 'ChunkFiveRegular', Arial, sans-serif;
	letter-spacing: 0;
	line-height:36px;
	font-weight:normal;
	margin:0 0 10px 0;
	color:#333333;
	padding:0;
}
.title h2{
	font: 30px 'ChunkFiveRegular', Arial, sans-serif;
	letter-spacing: 0;
	line-height:20px;
	font-weight:normal;
	margin:0 20px 0 0;
	color:#333333;
	padding:0;
	float:left;
}
#main #feat h2 em{
	font-family: "palatino linotype",palatino,serif;
	color:#3899bc;
	font-style:italic;
}

#main #feat .feat a{
	display:block;
	text-align:center;
	position:absolute;
	bottom:20px;
	left:20px;
	right:20px;
}
a.box.red{
	background-color:#d6412d;
}

#main #feat #business{
	background-image:url(https://googledrive.com/host/0B-rUPb5gojEtfnVJTlB4UWJ5b3hSbTI3dFFic3J5NnFIVXctbFNqOEE0RGQ3LVNPbFJzcVE/feature1.jpg);
}
#main #feat #need{
	background-image:url(https://googledrive.com/host/0B-rUPb5gojEtfnVJTlB4UWJ5b3hSbTI3dFFic3J5NnFIVXctbFNqOEE0RGQ3LVNPbFJzcVE/feature2.jpg);
}
#main #feat #wheel{
	background-image:url(https://googledrive.com/host/0B-rUPb5gojEtfnVJTlB4UWJ5b3hSbTI3dFFic3J5NnFIVXctbFNqOEE0RGQ3LVNPbFJzcVE/feature3.jpg);
}

br.clear{
	clear:both;
}
#secondary{
	background:#cee5ee;
	text-align:left;
	padding:20px 0 20px 0;
}
#secondary .title{
	margin:20px 0 40px 0;
}
#secondary .title img{
	margin:0 10px -8px 0;
}
#secondary a.arrow{
	background-image:url(../_img/interface/arrow_secondary_bg.png);
}
#secondary .testimonial{

}
#secondary .testimonial .quote{
	background-color:white;
	padding:24px 34px 24px 34px;
}
#secondary .testimonial .source{
	padding:8px 0 8px 70px;
	background-image:url(../_img/interface/testimonial_source_bg.png);
	background-repeat:no-repeat;
	background-position:25px 0;
	font-family: verdana,sans-serif;
	font-size:10px;
	color:#38809b;
}
#secondary .testimonial .source strong{
	font-family: "times new roman",times,serif;
	font-size:16px;
	color:black;
}
#content{
	font-family: arial,sans-serif;
	letter-spacing: 0pt;
	line-height: 1.5;
	text-align:left;
}
#content h1,h2,h3,h4{
	text-align:left;
	font-weight:bold;
}
#main #sidebar #excerpt{
	background-color:#E1F3F9;
	background-image:url(../_img/interface/quote.png);
	background-position:10px 10px;
	background-repeat:no-repeat;
	font-family: "palatino linotype",palatino,serif;
	font-style:italic;
	font-size:18px;
	line-height:1.4;
	padding:20px;
}
#footertop{
	background:#4c4c4c;
	text-align:left;
	min-height:209px;
	color:#aaaaaa;
	font-family: arial,sans-serif;
	font-size:12px;
}
#footertop #more a{
	color:#aaaaaa;
}
#footertop img.title{
	margin:25px 0 15px 0;
}
#footertop #mission{
	width:460px;
	padding:15px 0 0 0;
}
#footertop #mission a{
	color:white;
}
#footertop #mission p{
	font-size: 1.65em;
  font-family: serif;
  margin: 1em;
}
#footertop #learn{
	width:600px;
	float:left;
	padding:20px 0 20px 0;
}
#footertop #learn h2{
	font: 34px 'ChunkFiveRegular', Arial, sans-serif;
	letter-spacing: 0;
	line-height:32px;
	color:white;
	margin:0;
	font-weight:normal;
}
#footertop #learn h2 em, #footertop #more h2{
	font-weight:normal;
	font-family: "palatino linotype",palatino,serif;
	font-size:22px;
	color:#3899bc;
	font-style:italic;
	margin-bottom:0;
}
#footertop #more{
	width:260px;
	float:left;
	padding:10px 0 0 40px;
}
#footertop #more h2 strong{
	font-weight:normal;
	color:white;
}
#footertop #more ul{
	list-style-type:none;
	padding:0;
	margin:0;
}
#footertop #more ul li{
	padding:10px 0 10px 0;
	border-top:1px solid #585858;
	border-bottom:1px solid #3a3a3a;
}
#footertop #more ul li.first{border-top:none;}
#footertop #more ul li.last{border-bottom:none;}

#footermiddle{
	background:#292828;
	text-align:left;
	min-height:141px;
}
#footermiddle #logo{
	padding:43px 0 0 0;
}
#footermiddle #contact{
		font-family: arial,sans-serif;
		font-size:11px;
}

#footermiddle a.box.dark{
	padding-left:25px;
	padding-right:25px;
}
#footermiddle a#siteuse .box.dark{
	padding-left:10px;
	padding-right:10px;
}
#footermiddle .link a{
	font-size:11px;
	height:30px;
	color:#666666;
	float:right;
	display:block;
	margin:55px 6px 0 6px;
	line-height:17px;
}
#footermiddle .link a:hover{
	color:#fff;
}

#footermiddle a.social{
	background-color:#000;
	height:30px;
	width:30px;
	line-height:30px;
}
#footermiddle .social img{
	height:30px;
	width:30px;
	background-repeat:no-repeat;
	background-position:bottom left;
	margin: -3px 0 0 0;
}
#footermiddle a.social:hover img{background-position:top left;}
#vimeo img{background-image:url(../_img/interface/social-vimeo.png);}
#twitter img{background-image:url(../_img/interface/social-twitter.png);}
#facebook img{background-image:url(../_img/interface/social-facebook.png);}
#partnership{
	text-align:center;
	color:#646464;
	font-family: arial,sans-serif;
	font-size:12px;
	padding:15px 20px 15px 0;
}
a.box.dark{
	background-color:black;
}
#footertop a.arrow{
	background-image:url(../_img/interface/arrow_footertop_bg.png);
}
#footerbottom{
	background:#1d1d1d;
	padding:15px 0;
	line-height:1.5em;
	text-align:center;
	font-family: "palatino linotype",palatino,serif;
	font-size:10px;
	letter-spacing: 0.8pt;
	text-transform:uppercase;
	color:#727272;
}
#footerbottom a{
	color:white;
}

#video{
	background-color:#e3e3e3;
	border:1px solid #BFBFBF;
	margin:0;
}
#video.row > div{
	padding:0;
}

#video iframe{
	border-right:8px solid #fff;
}

#video.row > div.caption{
	font-family:verdana,sans-serif;
	font-size:12px;
	padding:20px;
}
#video .caption h2{
	font: 34px 'ChunkFiveRegular', Arial, sans-serif;
	margin:0;
	color:#000;
}
#video .caption h3{
	font-family: "palatino linotype",palatino,serif;
	font-style:italic;
	font-size:24px;
	margin:0 0 0.5em 0;
	color:#d6412d;
	font-weight:bold;
}
#video .caption a{
	color:#5192b4;
}
#banner{
	background-image:url(../_img/interface/banner.jpg);
	background-size:cover;
	background-position:center right;
	background-repeat:no-repeat;
	margin:0 0 20px 0;
	padding-left:0;
	min-height:86px;
}
#logo{
	position:absolute;
	left:0;
	bottom:0;
	top:0;
	background:#fafaf3;
	padding:0 20px 0 0;
	min-height:86px;
}
#banner .caption{
	text-align:right;
	padding:0 0 7px 0;
}
#banner .caption h2{
	font: 34px 'ChunkFiveRegular', Arial, sans-serif;
	margin:0;
	text-align:right;
	color:#000;
}
#banner .caption h2 em{
	color:#d6412d;
	font-family: "palatino linotype",palatino,serif;
	text-shadow: 1px 2px 3px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=1);
}
#banner .caption h3{
	font-family: "palatino linotype",palatino,serif;
	font-style:italic;
	font-size:20px;
	margin:0;
	color:#fff;
	text-align:right;
	text-shadow: 0px 1px 2px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=1);
	font-weight:bold;
}
#sub-pages{
	list-style-type:none;
	margin:0;
	padding:0;
}
#sub-pages li{
	background-color:#E1F3F9;
	font-family: arial,sans-serif;
	font-size:11px;
	padding:10px;
	margin:10px 0;
	font-weight:bold;
}
#sub-pages li a{
	color:#000;
}
h1 > a:hover, h2 > a:hover{
	text-decoration:none;
}
#posts img.thumbnail{
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	height:170px;
	width:300px;
	float:left;
	margin:0 1em 0 0;
}
#posts h2{
	margin:0.1em 0 0.15em 0;
}
#posts .date, #posts .author, .post-meta{
	margin:0;
	font-weight:bold;
	font-size:0.75em;
}
#posts .post{
	margin-bottom:1em;
}
.post-meta{
	margin-bottom:0.75em;
}
.post-content{
	margin-bottom:2em;
}
#posts .author{
	margin-bottom:0.33em;
}
#posts .more{
	font-weight:bold;
	text-transform:uppercase;
	font-size:0.8em;
}
#content #products a.arrow, a.button{
	color:#fff;
	text-align:center;
	padding: 10px;
	border-radius: 6px;
}
#content #products a.arrow.learn{
	background-color:#27809F;
}
#products .description{
	font-size:0.8em;
}
#products img{
	height:120px;
	width:100%;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}
