---
layout: default
menu: blog
---
{% if page.category %}
    {% assign posts = site.categories.[page.category] %}
{% else %}
    {% assign posts = site.posts %}
{% endif %}

<h1>{{ page.title }}</h1>
{{ content }}
<div id="posts">
  {% for post in posts %}
    <div class="post">
      <p class="date">{{ post.date | date: "%-d %B %Y" }}</p>
      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
      {% if post.author %}
        <p class="author">by {{ post.author }}</p>
      {% endif %}
      {% if post.image %}
      <a href="{{ site.baseurl }}{{ post.url }}">
        <img src="{{ site.baseurl }}/_img/interface/transparent.png" alt="{{ post.title }}" style="background-image:url({{ post.image }})" class="thumbnail">
      </a>
      {% endif %}
      {{ post.excerpt }}
      <p class="more"><a href="{{ site.baseurl }}{{ post.url }}">Read more...</a></p>
      <!-- {% if post.tags.size > 0 %}
        <ul class="tags">
        {% for tag in post.tags %}
          <li>{{ post.tag }}</li>
        {% endfor %}
        </ul>
      {% endif %} -->
    </div>
    <hr>
  {% endfor %}
</div>
