<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="home blog">
    {% include header.html %}
    <div id="video" class="row">
      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="http://player.vimeo.com/video/{{ page.vimeo }}?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" class="embed-responsive-item" webkitAllowFullScreen allowFullScreen></iframe>
        </div>
      </div>
      <div class="col-md-6 caption">
         {{ content }}
      </div>
    </div>
    <div id="feat" class="row">
      <div class="col-md-4">
        <div id="business" class="feat">
          <h2>Which model is right for your business?</h2>
          <a href="{{ site.baseurl }}/about/case-for-for-profit-chaplaincy/" class="red box">The Case for For-Profit Chaplaincy</a>
        </div>
      </div>
      <div class="col-md-4">
        <div id="need" class="feat">
          <h2>What is corporate chaplaincy?</h2>
          <a href="{{ site.baseurl }}/about/need-for-corporate-chaplaincy/" class="red box" target="_blank">Read More</a>
        </div>
      </div>
      <div class="col-md-4">
        <div id="wheel" class="feat">
          <h2>How do you want to grow?</h2>
          <a href="{{ site.baseurl }}/blog/" class="red box">Check Out Our Blog</a>
        </div>
      </div>
    </div>
    {% include footer-home.html %}
  </body>
</html>
