---
layout: default
menu: blog
links:
  -
    title: Business Skills
    url: /blog/category/business-skills
  -
    title: Chaplain Profiles
    url: /blog/category/chaplain-profiles
  -
    title: In the News
    url: /blog/category/in-the-news
  -
    title: Leadership Development
    url: /blog/category/leadership-development
  -
    title: Professional Development
    url: /blog/category/professional-development
  -
    title: Research
    url: /blog/category/research
  -
    title: Self-care
    url: /blog/category/self-care
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} <br> by {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
